@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poiret One", sans-serif;
}

body {
  font-weight: 900;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
main::before {
  content: "";
  background-image: url("https://images.pexels.com/photos/26575515/pexels-photo-26575515/free-photo-of-pizza-with-cheese-served-in-a-restaurant.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px;
  align-items: center;
}

@media (max-width: 680px) {
  h4 {
    text-align: center;
  }
}

a {
  color: black;
  margin: 20px;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

nav a {
  margin: 80px;
  font-size: 1.5rem;
}

@media (max-width: 560px) {
  .navbar {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    text-align: center;
  }
}

.main-text {
  margin: 250px 0 0 0;
  font-size: 6em;
  font-weight: 900;
}
.CTA {
  border: 5px solid black;
  padding: 10px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 4em;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 4em;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}
textarea {
  resize: none;
  width: 100%;
}
input {
  width: 100%;
  font-size: 36px;
  padding: 1%;
  border-radius: 6px;
}
button {
  font-size: 36px;
  padding: 1%;
  border-radius: 6px;
}
.about-us-header {
  margin-bottom: 20px;
}
#about-us {
  background: rgba(108, 178, 108, 0.649);
  background: wheat;
  background: rgb(60, 60, 60);
  padding-top: 30px;
  padding-bottom: 50px;
  color: wheat;
}
#reservation {
  padding-top: 30px;
  background: wheat;
}
@media (max-width: 535px ) {
  #form-container {
    width: 100%;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: rgb(60, 60, 60);
  padding: 20px;
}
.footer-section {
  font-size: 20px;
  border: 0.5px solid wheat;
  border-radius: 12px;
  padding: 5%;
  color: white;
  text-align: center;
}
.phone-number {
  color: white;
}
.info {
  color: white;
}
#reservation-link {
  color: white;
  text-decoration: underline;
}
#menu-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin-bottom: 20px;
}
.specialty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  height: 100vh;
}
.tab {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.tab button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  padding: 12px 16px;
  transition: 0.3s;
}
.tab button:hover {
  background-color: wheat;
}
.tab-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  font-size: 1.5rem;
  text-align: center;
}
ul {
  list-style-type: none;
}
.search-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 10px;
  overflow: hidden;
}
.search-container::before {
  content: "";
  background-image: url(https://images.pexels.com/photos/27650917/pexels-photo-27650917/free-photo-of-a-pizza-on-a-marble-table-with-cheese-and-sauce.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  z-index: -1;
}
.menu-container {
  position: relative;
}
.menu-container::before {
  content: "";
  background-image: url(https://img.freepik.com/free-photo/neapolitan-pizza-with-salami-arugula-tomatoes-sprinkled-with-cheese-wooden-board-tablecloth-cell_78826-2350.jpg?t=st=1724461509~exp=1724465109~hmac=f6ebb6034201fc572644e1b5c8e4f3c3544e59056ff0c89b94902e71fcbfb795&w=1800);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.2;
  z-index: -1;
}
.icon-container {
  display: flex;
  padding: 8px;
  flex-direction: row-reverse;
}
 @media(max-width: 1300px) {
  video {
    width: 100%;
    aspect-ratio: 16/9;
  }
 }
